           a
           {text-decoration:none;}
      #roadbutton{
         position: relative;
        float:right bottom;
      }
      #menu_wrap {
         position: absolute;
         top: 0;
         left: 80%;
         bottom: 0;
         
         height: 55px;
         margin: 10px 0 30px 10px;
         padding: 5px;
         overflow-y: auto;
         background: rgba(255, 255, 255, 0.7);
         z-index: 1;
         font-size: 12px;
         border-radius: 10px;
      }
      .bg_white {
         background: #fff;
      }
      #menu_wrap hr {
         display: block;
         height: 1px;
         border: 0;
         border-top: 2px solid #5F5F5F;
         margin: 3px 0;
      }
      #menu_wrap .option {
         text-align: center;
      }
      #menu_wrap .option p {
         margin: 10px 0;
      }
      #menu_wrap .option button {
         margin-left: 5px;
      }
      #navBtn_div{ 
       position: absolute;
         top: 550px;
         left: 20%;
         bottom: 0;
         width: 45px;
         height: 20px; 
         background: rgba(255, 255, 255, 0.7);
         z-index: 2;
         margin: 10px 0 30px 10px;
         padding: 5px;
         font-size: 15px;
         border-radius: 40px; 
         vertical-align:middle;
      }
         *{
            margin:0px;
            padding:0px;
        }
 
        .navigator {
              position: absolute;
              top: 0;
              width:00;
              height: 100%;
              background: #3B3B3B;
              overflow-y: hidden;   
          }
        #main_wrapper
        {
            overflow:hidden;
            width:100%;
            height:100%;
        }
 
        .navigator {
              position: absolute;
              top: 0;
              width: 0;
              height: 100%;
              background : #ffffff; 
              opacity:0.9;
              overflow-y: hidden;   
          }
         
        #pages_wrraper{
            overflow:hidden;
            width:100%;
            height:100%;
        }
 
         #navigator:target {
              width: 20%;      
              height: 600px;        
              overflow:hidden;
            }
 
            .close-menu {
              display: none;
            }
 
            .open-menu {
                 display: block; 
              }
 
            .page-wrap {
              position: relative;
              width:100%;                    
            }
 
        #navigator:target + .page-wrap {    
                left:220px; 
                height:300px;   
            }
 
        #navigator:target + .page-wrap .open-menu {
              display: none;
            }
            #navigator:target + .page-wrap .close-menu {
              display: block;
            }
       	 #first{
      		 position:absolute;
     		 display:block;
     		 margin-top:1%;
     		 margin-left: 5%;
     		 width:20%;      
      		background: rgba(255, 255, 255, 0.7);         
   			}
   			#middle{
     		 position:absolute;
     		 margin-top:11%;
     		 margin-left: 5%;
     		 height: 100px;
     		 width:20%;      
      		 background: rgba(255, 255, 255, 0.7);         
   			}
   			#end{
       	  	 position:absolute;
     		  display:block;
     		  margin-top:27%;
      	 	 margin-left: 5%;
     	 	 width:20%;
     	  	 height:70px;
     	  	 background: rgba(255, 255, 255, 0.7);         
   }
